.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background: var(--code-bg);
}



/* Basic link styling */
a {
    color: #000000; /* Change this to your preferred color */
    text-decoration: none; /* Removes default underline */
    border-bottom: 2px solid #A90204; /* Adds a solid underline in the link color */
    padding-bottom: 2px; /* Adds space between text and underline */
}

/* Darker effect when hovering */
a:hover {
    color: #A90204; /* Darker shade of the original color */
}

/* Justified paragraph styling */
p.justified {
    text-align: justify; /* Justifies the text */
    line-height: 1.6; /* Adjust line height for better readability */
    margin-bottom: 1em; /* Adds space below each paragraph */
}


.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: var(--headersize);
    font-weight: var(--semibold);
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 20px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: var(--headersize);
    font-weight: 400;
}

#menu .active {
    border-bottom: 2px solid var(--darkcolor);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
